<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benjaminearley.zapdos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Zapdos"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".CameraRunningIntentService"
            android:enabled="true" />
        <service
            android:name=".ScreenRecorderService"
            android:enabled="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4d6f7aa4e61f74e886d654e56fca4c6caa83da1c" />

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onboarding.SplashAnimationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaptureActivity"
            android:label="@string/title_activity_capture"
            android:noHistory="true"
            android:taskAffinity=".CaptureActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".VideoPlaybackActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>
    </application>

</manifest>